* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.swiper-slide {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 18px;
    padding-left: 100px;
}

.title {
    font-weight: bold;
    font-size: 72px;
    color: white;
}

.subtitle {
    letter-spacing: 3px;
    font-size: 24px;
}

.slide-64 {
    background-image: url(https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/virtual_console_wii_8/SI_WiiVC_SuperSmashBros_image1600w.jpg);
    background-size: cover;
}

.slide-melee {
    background-image: url(https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/gamecube_12/SI_GCN_SuperSmashBrosMelee_image1600w.jpg);
    background-size: cover;
}

.slide-brawl {
    background-image: url(https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/wii_24/SI_Wii_SuperSmashBrosBrawl_image1600w.jpg);
    background-size: cover;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
}

nav ul li a:hover {
    color: #ddd;
}